@import "tailwindcss";

      
.font-instrument-serif{
font-family: "Instrument Serif", serif;
}
      
.font-instrument-sans{
font-family: "Instrument Sans", sans-serif;
}
.text2025{
    font-family: "Instrument Sans", sans-serif;
     font-weight: 700;
     font-size: 16px;
}